.about_us{
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.about_us .top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.about_us .top .left h1{
    width: 684px;
    font-size: 48px;
    line-height: 62.4px;
    font-weight: 600;
}

.about_us .top .right p{
    width: 668px;    
    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
    color: #666A6F;
}

.about_us .bottom{
    display: flex;
    justify-content: space-around;
    width: 1400px;
  
}
