.approach{
    display: flex;
    justify-content: space-around;
    background-image: url('../../Images/home_bg.png');
    padding-top: 30px;
    padding-bottom: 30px;
}
.left{
    width: 500px;
}
.left .imgs{
    width: fit-content;
}
.card{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width:500px;
}
.card img{
    width: 100px;
    height: 100px;
}
.card h3{
    font-size: 24px;

}
.card p{
    font-size: 18px;
}

@media (max-width: 768px) {
    .approach{
        flex-direction: column;
    }
    .left {
        width:300px ;
        padding: 10px;
    }
    .left .imgs{
        width: 300px;
    }
    .card img{
        width: 70px;
        height: 70px;
        padding: 10px;
    }
    .card{
         width: 310px;
    }
    .card h3{
        font-size: 16px;
        margin-bottom: 0;
    
    }
    .card p{
        font-size: 14px;
        margin-top: 0;
    }
}