.client{
    display: flex;
    flex-direction: column;
   align-self: center;
    
}
.client .top{
    display: flex;
    justify-content: start;
    margin-left: 70px;
    align-items: center;
}
.client .top .left h1{
    width: 684px;
    font-size: 48px;
    line-height: 62.4px;
    font-weight: 600;
}
.client .top .right ul{
    list-style-type: none;    
}
.client .top .right ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.client .bottom {
    width: 1331px;
    display: flex;
    align-self: center;
    text-align:justify;
}
.client .bottom p{
    font-size: 16px;
    line-height: 28.8px;
    font-weight: 500;
    line-height: 28.7px;
}
 
.client .group{
    display: flex;
    justify-content: space-around;
    gap: 35px;
}


.client .group img{
    width:350px; 
    height: 350px;
    transition: all 0.3s
}


.client .group img:hover{
    width:400px; 
    height: 400px;
}



