
.testimonial{
   
    font-size: 32px;
    line-height: 35.2px;
    font-weight: 600;
    text-align: center;
    padding: 50px;
}
.author{
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
}
.names{
    display: flex;
    flex-direction: column;
    justify-content: start;
    line-height: 0%;
}
.author{
    font-size: 18px;
    margin-right: 76px;
}
.author-role{
    font-size: 16px;
    color: #878C91;
}
.testimonial-slider {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
 

.quote {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align: center ;                    
}


.navigation {
  display: flex;
  align-items: center;
}

.navigation button {
  width: 90px;
  height: 50px;
  background: #f8fbff;
  color: #000000;
  border: 1px solid black;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 74px;
  font-size: 16px;
  
  
}

.navigation button:hover {
  background: #030303;
  border-radius: 570px;
  color:white;
}

.author-details{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

}
.text-box p{
  margin: 0;
  text-align: left;
}
 .testimonial-slider .bottom{
  display: flex;
  justify-content: space-between;
 }
 .lenths{
  color: #01020566;
 }
 .slide-count{
  font-size: 16px;
 }