.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .top{
    width: 1280px;
    height: 235px;
    background-image: url('../../Images/footer.jpg');
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer h1{
    color:white;
}
.call .btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 222px;
    height: 58px;
    border: 2px solid transparent;
    background-image:white;
    border-radius: 70px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #0076D0;
    cursor: pointer;
}
.footer .bottom{
    display: flex;
    justify-content: space-evenly;
   
}
.social{
    display: flex;
    align-items: center;
    gap:2px;
}