.amont{
    display: flex;
   justify-content: center;
   gap: 100px;

}
.div_amont{
    display: flex;       
    flex-direction: column;
    width: 400px;
    justify-content: center;
    align-items: flex-start;    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 90px;
}
.amont .div_amont h1{
   
    font-size: 72px;
    margin-bottom: 0;
    

}

.amont .div_amont h1 .last{
    color: #0076D0;
}
.amont  .div_amont h1 .curency{
    color: #dce0e2;
    font-size: 25px;
}
.amont .div_amont h4{
    color: #dce0e2;
    font-size: 18px;
    margin-top: 0;

}

.cards{
    display: flex;
    width: 400px;
    flex-direction: column;
    margin-top: 0%;
}
.cards .number{
    font-size: 32px;
    color: #9B9B9C;
    background-color: #F7F7F7;
    width: 35px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    
}
.cards .title h2{
    color:#0076D0;
    font-size: 24px;
    margin-left: 50px;
}
.cards .dese p{
    font-size: 18px;
    margin-left: 50px;

}
 
.line{
    margin-left: 60px;
}
  
.horizontal-line {
    display: flex;
    border: 3px solid #F7F7F7;
    height: 5px;
    background-color: #F7F7F7;
    justify-content: space-around;
    align-items: center;
  }

  .icon-container {
    display: flex;
   
  }
  
  .polygon-icon {
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    /* Example styling for a polygon icon */
    background-color: #3498db; /* Example background color */
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Example polygon shape */
    transform: rotate(90deg);
  }