#home{
 
    background-image: url("../../Images/home_bg.png");
    background-repeat: no-repeat;
    
}
#home .home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home .head{
    width: 1240px;
    font-size: 46px;
     font-weight: 600;
     line-height: 62.3px;
     text-align: center;

}
 
.content{
    color:#666A6F;
    width: 1240px;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
 
}

.home_img{
    width: 1280px;
  height: 567px;
}

.company .head{
    font-size: 48px;
    text-align: center;
}
.company .group{
    display: flex;
    justify-content:center;
    gap:40px;
}
.company .group img{
    width: 150px;
}
 
