#home{
    
    background-image: url("../../Images/home_bg.png");
    
}
#home .home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home .head{
    width: 1240px;
    font-size: 46px;
     font-weight: 600;
     line-height: 62.3px;
     text-align: center;

}
 
.content{
    color:#666A6F;
    width: 1240px;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
 
}

.home_img{
    width: 1280px;
  height: 567px;
}

.company .head{
    font-size: 48px;
    text-align: center;
}
.company .group{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap:40px;
}
.company .group img{
    width: 150px;
}
 

@media (max-width: 768px) {
    .home .head {
        width: auto;
        font-size: 30px;
        line-height: 1.2;
    }
    .content {
        max-width: fit-content;
        padding: 10px;
        font-size: 14px;
        line-height: 1.6;
    }
    .home_img {
      max-width: 270px;
      max-height: 200px;
    }
    .company .head {
        font-size: 36px;
    }
    .company .group img {
        width: 80px;
       padding: 5px;

    }
}