.navbar{
    display: flex;
    padding: 20px;
     justify-content: space-around;
     align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000; 
}
 
.lists ul{
    display: flex;
    
    list-style: none;
}
.lists ul li{
    margin-left: 60px;
}
.lists ul li a{
    text-decoration: none;
    color: black;
}

.lists ul li a:hover{
    color: blue;
    width: auto;
    height: auto;
    padding-bottom: 10px;
    border-bottom: 2px solid blue;
}
 

.btn1 .get_btn{
   
    width: 156px;
    height: 56px;
    background: transparent;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #007bff, #6610f2) 1;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    cursor: pointer;
 
}
 