.navbar{
    display: flex;
    padding: 20px;
     justify-content: space-around;
     align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000; 
}
.logoContainer {
    position: relative;
    width: 134.4px; /* Adjust based on actual SVG size */
    height: 48px; /* Adjust based on actual SVG size */
  }
.logo {
    position: absolute;
    margin-left: 80px;
    top: 14.01;
    left: 4.08;
    width: 100%;
    height: auto;
    background: 'linear-gradient(97deg, #0076D0 35%, #0EFED4 100%)';
  }
.lists ul{
    display: flex;
    
    list-style: none;
}
.lists ul li{
    margin-left: 60px;
}
.lists ul li a{
    text-decoration: none;
    color: black;
}

.lists ul li a:hover{
    color: blue;
    width: auto;
    height: auto;
    padding-bottom: 10px;
    border-bottom: 2px solid blue;
}
 

.get_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px; /* Set the height to 56px */
    height: 56px;
    padding: 16px 32px; /* Padding of 16px top/bottom and 32px left/right */
    border: 1px solid #0076D0; /* 1px solid border with color #0076D0 */
    border-radius: 70px; /* Border radius of 70px to make it fully rounded */
    background-color: white; /* Background color white */
    color: #0076D0; /* Text color */
    font-size: 16px; /* Font size */
    margin-right: 80px;
    cursor: pointer; /* Cursor to pointer to indicate it's clickable */
    /* gap: 42px; Gap between elements inside the button, if any */
    /* text-transform: uppercase; Optional: Transform text to uppercase */
    font-weight: bold; /* Optional: Make the font bold */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  }
  .get_btn:hover {
    background-color: #0076D0; /* Background color changes on hover */
    color: white; /* Text color changes on hover */
  }
 
 