.main {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    width: auto;
    margin: 0 100px;
    border-radius: 70px;
    padding: 50px;
}

.main .reals h1 {
    color: white;
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
}

.main .reals .btn-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.main .reals .btn-group .btns, 
.main .reals .btn-group .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    border-radius: 70px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.main .reals .btn-group .btns {
    width: 222px;
    background-image: linear-gradient(to right, #007bff, #6610f2);
    border: 2px solid transparent;
}

.main .reals .btn-group .btn {
    background: transparent;
    border: 2px solid #007bff;
}

.main .reals .img_group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.main .reals .img_group .img_wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 23px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.main .reals .img_group img {
    display: block;
    width: 100%;
    border-radius: 23px;
    transition: transform 0.3s ease-in-out;
}

.main .reals .img_group .img_wrapper:hover img {
    transform: scale(1.05);
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.5);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 180px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(16, 87, 241, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.img_group .img_wrapper:hover .overlay {
    opacity: 1;
}

.overlay p {
    color: #fff;
    text-align: center;
    padding: 20px;
}
